*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width:60em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.1em;
    color:white;
}

.fl-left{
    float:left;
}
.h{
    height:100%;
}
.col-1-2{
    width:50%;
}
.col1{
    width:100%;
}
.col-1-3{
    width:33.333333%;
}
.col-1-4{
    width:25%;
}
.col-3-4{
    width:75%;
}
.height-1-2{
    height:50%;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:crimson;
}
.border{
    border:1px white solid;
}

table{
    border-collapse:collapse;
    margin:0 auto;
}
table thead tr th{
    padding:10px;
    border-bottom: 1px white solid;
}

table tr td{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom:1px white solid;
}
input{
    dsplay:none;
}
input:hover{
    color:crimson;
}
.list li{
    list-style-type: none;
}
label:hover {
  color: crimson;
}

input:checked + label {
    width: 100%;
    color:crimson;
}

input:checked ~ .syningar{
    display:block;
    transition: all .5s ease;
    width: 100%;
    z-index: 990;
    list-style-type: none;
}

.syningar{
    display:none;
    list-style-type: none;
    z-index:990;
}

.col1 ul li{
    position: relative;
    left:-0.9em;
    display:inline-block;
    padding:30px;
}

.midar{
    display:none;
}
.flytjendur{
    display: none;
}
.uppl{
    display:none;
}
.straeto{
    display:none;
}
#flytjendur:checked ~ .flytjendur{
    display:block;
    list-style-type: none;
}
#midar:checked ~ .midar{
    display:block;
    list-style-type: none;
}
.flytjendur ul li{
    padding:30px;
    display:inline-block;
}